
$title-color: #4e5665;
$title-font-size: 2rem;
$title-tablet-font-size: 1.5rem;

$text-color: #505050;
$text-font-size: 1rem;
$text-tablet-font-size: 1rem;

$secondary-color: #ecb84c;
$line-color: #d0d4d8;

$main-background-color: #ffffff;

$often-line-height: 1.75;
$mobile-line-height: 1.5;
$secondary-line-height: 1.19;

$carusel-border-radius: 4px;